pypdf
langchain
langchain-community
supabase
python-dotenv
pytest
boto3
transformers
huggingface-hub
langchain-huggingface
sentence-transformers
google-genai
fastapi
uvicorn
pydantic
open-webui


#optional
#langchain-core

