pypdf
langchain
langchain-community
langchain-chroma
supabase
python-dotenv
pytest
boto3
transformers
huggingface-hub
langchain-huggingface
sentence-transformers
google-genai


#optional
#langchain-core

