pypdf
langchain
langchain-community
langchain-core
supabase
python-dotenv
pytest
boto3
transformers
huggingface-hub
langchain-huggingface
sentence-transformers
langchain-google-genai
fastapi
uvicorn
pydantic
